# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.
 
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
 
# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.
 
# Set username, password to your local db during dev
DATABASE_URL="postgres://username:password@localhost:5432/db_movies_project_1"
 
BETTER_AUTH_SECRET=SAUdKqC5dH5knvdodIKxbZunDagMsGQf
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

TMDB_BEARER_TOKEN=""
STRIPE_SECRET_KEY=""


SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=jules.beatty56@ethereal.email
SMTP_PASSWORD=sdfkhfsdkfhsdkfhks
SMTP_FROM=Jules Beatty <jules.beatty56@ethereal.email>
-----------OR---------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=user.buyer@gmail.com
SMTP_PASSWORD=urpl cmrs iuer poqw
SMTP_FROM=User Buyer <user.buyer@gmail.com>


